@media only screen and (max-width: 768px) {
  * {
    font-size: smaller;
  }

  .start-page {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .start-page .side-content {
    background: none;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .start-page .side-content img {
    width: 80%;
  }

  .start-page .info {
    background: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .wrapper {
    width: 100%;
    height: 100%;
  }
  .quiz-section {
    width: 100%;
    height: 100vh;
    border: none;
  }

  .bottom-row {
    height: 100%;
    width: 100%;
    padding: 0px;
  }


  .life-lines .label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .life-lines,.score-box {
    height: 60px;
  }

  .question-container {
    min-height: 120px;
  }
  .options-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .option {
    margin: 7px auto;
    width: 100%;
    height: 50px;
  }


  .option div:nth-child(1){
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option div:nth-child(2){
    padding-top:0px;
    padding-bottom: 0px;
  }

  .row-one,
  .row-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }

  .main-modal {
    width: 80%;
  }
  .score-box {
    margin-top: 10px;
  }

  .credits {
    width: 90%;
  }

  .credits-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
