img[alt="www.000webhost.com"] {
	display: none;
}

:root {
	--primary-dark: #0b0c10;
	--secondary-dark: #1f2833;
	--grey-color: #c5c6c7;
	--primary-light: #66fcf1;
	--secondary-light: #45a29e;
}


.wrapper {
	width:100%;
	min-height: 100vh;
	background: var(--secondary-dark);
}

#table-body {
	text-transform: capitalize;
}

.copyrights {
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-top-left-radius: 7px;
	padding: 5px;
	z-index: 15;
	color: white;
	background: grey;
	color: black;
	font-size: small;
}