* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--primary-dark: #0b0c10;
	--secondary-dark: #1f2833;
	--grey-color: #c5c6c7;
	--primary-light: #66fcf1;
	--secondary-light: #45a29e;
}

img[alt="www.000webhost.com"] {
	display: none;
}

.wrapper {
	width: 100%;
	height: 100%;
	background: var(--primary-dark);
}

#main-form {
	color: var(--primary-light);
	border: 1px solid grey;
	padding: 10px;
	border-radius: 10px;
	background: var(--secondary-dark)
}

.main-table {
	margin: 0px;
}

.table-container {
	background: var(--secondary-dark);
	border: 1px solid grey;
	border-radius: 10px;
	border: 1px solid grey;
	overflow: hidden; 
}